[Unit]
Description=MAX7219-based clock
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/max7219 
;For RPi3:
;ExecStart=/usr/local/max7219 -D /dev/spidev0.0 -b 8
;StandardError=null
Restart=always
RestartSec=0

[Install]
WantedBy=multi-user.target
